// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages-table
	height: 70vh
	overflow-y: scroll
	word-wrap: break-word
	font-size: .80em
	padding-left: 4px